// -----------------------------------------------------------------------------
// This file contains an example component
// -----------------------------------------------------------------------------

.tool-cards {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  padding: 50px 0;
}

.tool-card {
  display: block;
  padding: 20px;
  text-decoration: none;
  background-color: #E8F1F2;
  border: 3px dashed #001A23;
  box-shadow: 0 0 30px -10px #001A23;
  border-radius: 10px;

  h2 {
    font-weight: 500;
  }

  p {
    font-weight: 300;
  }

  &:hover {
    background-color: #B3EFB2;
  }
}