// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 16px;
  // width: 100%;

  @include respond-to('small') {
    padding: 0 20px;
  }
}